@import "variables";

.map-container {
  width: 40%;
  position: relative;
  margin: 0 auto;
  background-color: #f5f5f5;
  &:before {
    content: "";
    display: block;
    padding-top: 100%;
  }

  map-group {
    position: absolute;
    font-size: 1.5vw;
    text-align: center;
    padding: 0.2rem;
    border-radius: 0.25rem;
    background-color: rgba(0, 0, 0, 0.05);
    border: 0.2rem solid $light;
    transition: border 0.5s;
    &:hover {
      border-color: darken($light, 30%)
    }

    map-light {
      position: absolute;
      border: thin solid $dark;
      width: 2.5vw;
      height: 2.5vw;
      border-radius: 4px;
      transition: transform 0.5s;
      &:hover, &:active {
        transform: scale(1.5);
        z-index: 9;
      }

      &.light-spot {
        border-radius: 100%;
      }

      &.light-strip {
        height: 7.5vw;
      }

      &.light-rgb_strip { // plz
        width: 7.5vw;
      }
    }
  }
}