@import "variables";

nav {
  background-color: $accent;
  ul {
    padding: 0;
    margin: 0;
    font-size: 0;
    text-align: center;
    li {
      min-width: 60px;
      display: inline-block;
      font-size: 0;
      width: 25%;
      a {
        color: white;
        width: 100%;
        text-decoration: none;
        padding: 0.5rem 0;
        display: inline-block;
        font-size: 1.5rem;
        border-top: none;
        border-bottom: none;
        transition: background-color 0.5s;
        &:hover {
          background-color: rgba(0, 0, 0, 0.1);
        }
        &.active {
          background-color: rgba(0, 0, 0, 0.2);
          border-bottom: 2px solid $light;
        }
      }
    }
  }
}