<ul>
    <li class="detail-group" ng-repeat="group in groups">
        <h3>{{group.name | ununderscore}}</h3>
        <ul>
            <li class="detail-light" ng-repeat="light in group.lights">
                <h4>{{light.name | ununderscore}}</h4>
                <ul>
                    <li class="channel" ng-repeat="(name, channel) in light.channels">
                        <span class="name">{{name | capitalize}}</span>
                        <input type="range" min="0" max="255" ng-model="channel.value" integer="" ng-change="change(group, light)">
                    </li>
                </ul>
            </li>
        </ul>
    </li>
</ul>
